@import url("header.css");
@import url("footer.css");
html, body {
    height: 100%;
}
 body {
    background-color: #CE2900;
    color: white;
}
.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
footer {
    display: table-row;
    height: 1px;
}
.tips {
  margin-left: 20px;
  margin-right: 20px;
}