/*reseters*/
@import url("header.css");
body, div,li{
	padding: 0;
	margin:0;
	list-style-type: none;
}
img{
	width: 250px;
	height: 250px;
	max-width: 100%;
}
#profile{
	position: absolute;
	top:110px;
	left:10px;
}
#content{
	float: none;
     margin-left: auto;
     margin-right: auto;
}
#achievements li{
	list-style-image: url(http://icons.iconarchive.com/icons/fatcow/farm-fresh/24/user-ninja-icon.png);
	vertical-align: top;
}
#chronology li{
	list-style-image: url(http://icons.iconarchive.com/icons/fatcow/farm-fresh/24/medal-award-gold-icon.png);
	vertical-align: top;
}